{% extends 'base.html' %}
{% load static %}

{% block navigation %}
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Ecommerce App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buyer/products/">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buyer/cartvalue/">Cart<sup>{{count}}</sup></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout/">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}

{% block mainblock %}
	
	<header class="jumbotron my-4">
      <h1 class="display-3">Welcome {{user | upper}}!</h1>
      <h2>Buyer</h2>
	</header>

	<div class="row text-center">

	{% for i in products %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="{{i.product_img.url}}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{i.product_name}}</h4>
            <p class="card-text">{{i.product_desc}}</p>
            <p class="card-text">Price: {{i.product_price}}</p>
            <p class="card-text">Added by: {{i.added_by_seller}}</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'cart' id=i.id %}" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      {% endfor %}
     </div>

{% endblock %}